<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

    <title>Announcements - Cloudian</title>

    <!-- Flask routing use static folder only -->
    <link href="{{ url_for('static',filename='/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link href="{{ url_for('static',filename='fonts/fontawesome-all.min.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static',filename='css/custom.css') }}" rel="stylesheet" />
    <script type="text/javascript"
    src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script>
        $(function(){
    function refreshDiv(){
        $.ajax({
            url: 'announcements'
        }).done(function(result) {
            $('#refreshDIV').text(result);
            window.setTimeout(refreshDiv, 5000);
        });

    }
    window.setTimeout(refreshDiv, 5000);
});
    </script>
    
</head>

<body id="page-top">
    <div id="wrapper">
        <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-custom-primary p-0">
            <div class="container-fluid d-flex flex-column p-0">
                <a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
                    <div class="sidebar-brand-icon rotate-n-15"></div>
                    <div class="sidebar-brand-text mx-3"><span>Cloudian Systems</span></div>
                </a>
                <hr class="sidebar-divider my-0">
                <ul class="nav navbar-nav text-light" id="accordionSidebar">
                    <li class="nav-item" role="presentation"><a class="nav-link" href="index"><i class="fas fa-tachometer-alt"></i><span>Dashboard</span></a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link  active" href="index.html"><i class="fas fa-bell"></i><span>Announcements</span></a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="profile"><i class="fas fa-user"></i><span>Profile</span></a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="employee"><i class="fas fa-user-plus"></i><span>Employee</span></a><a class="nav-link" href="payroll-settings"><i class="far fa-chart-bar"></i><span>Payroll Settings</span></a>
                      <a class="nav-link" href="panels"><i class="fas fa-list-alt"></i><span>Employee & Details</span></a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="login"><i class="fas fa-sign-out-alt"></i><span>Log Out</span></a></li>
                    <li class="nav-item" role="presentation"></li>
                </ul>
                <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button></div>
            </div>
        </nav>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top">
                    <div class="container-fluid"><button class="btn btn-link d-md-none rounded-circle mr-3" id="sidebarToggleTop" type="button"><i class="fas fa-bars"></i></button>
                        <form class="form-inline d-none d-sm-inline-block mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                            <div class="input-group"><input class="bg-light form-control border-0 small" type="text" placeholder="Search for ...">
                                <div class="input-group-append"><button class="btn btn-primary py-0" type="button"><i class="fas fa-search"></i></button></div>
                            </div>
                        </form>
                        <ul class="nav navbar-nav flex-nowrap ml-auto">
                            <li class="nav-item dropdown d-sm-none no-arrow"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#"><i class="fas fa-search"></i></a>
                                <div class="dropdown-menu dropdown-menu-right p-3 animated--grow-in" role="menu" aria-labelledby="searchDropdown">
                                    <form class="form-inline mr-auto navbar-search w-100">
                                        <div class="input-group"><input class="bg-light form-control border-0 small" type="text" placeholder="Search for ...">
                                            <div class="input-group-append"><button class="btn btn-primary py-0" type="button"><i class="fas fa-search"></i></button></div>
                                        </div>
                                    </form>
                                </div>
                            </li>
                            <li class="nav-item dropdown no-arrow mx-1" role="presentation">
                                <div class="nav-item dropdown no-arrow"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#"><span class="badge badge-danger badge-counter">3+</span><i class="fas fa-bell fa-fw"></i></a>
                                    <div class="dropdown-menu dropdown-menu-right dropdown-list dropdown-menu-right animated--grow-in"
                                        role="menu">
                                        <h6 class="dropdown-header">alerts center</h6>
                                        {% for k, v in g.announcements.items() %}
                                        {% for a, b in v.items() %}
                                        <a class="d-flex align-items-center dropdown-item" href="#">
                                            <div class="mr-3">
                                                <div class="bg-primary icon-circle"><i class="fas fa-file-alt text-white"></i></div>
                                            </div>
                                            <div><span class="small text-gray-500">{{b['date']}} </span>
                                                <p>{{b['header']}} <br> {{b['textarea']}} </p>
                                            </div>
                                        </a>
                                        {% endfor %}
                                        {% endfor %}
                                       
                                        
                                           
                                      
                                       
                                </div>
                            </li>
                            <li class="nav-item dropdown no-arrow mx-1" role="presentation">
                                <div class="nav-item dropdown no-arrow"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#"><i class="fas fa-envelope fa-fw"></i><span class="badge badge-danger badge-counter">7</span></a>
                                    <div class="dropdown-menu dropdown-menu-right dropdown-list dropdown-menu-right animated--grow-in"
                                        role="menu">
                                        <h6 class="dropdown-header">alerts center</h6>
                                        <a class="d-flex align-items-center dropdown-item" href="#">
                                            <div class="dropdown-list-image mr-3"><img class="rounded-circle">
                                                <div class="bg-success status-indicator"></div>
                                            </div>
                                            <div class="font-weight-bold">
                                                <div class="text-truncate"><span>Message</span></div>
                                                <p class="small text-gray-500 mb-0">FirstName LastName - Time</p>
                                            </div>
                                        </a>
                                         <a class="text-center dropdown-item small text-gray-500" href="#">Show All Alerts</a></div>
                                </div>
                                <div class="shadow dropdown-list dropdown-menu dropdown-menu-right" aria-labelledby="alertsDropdown"></div>
                            </li>
                            <div class="d-none d-sm-block opbar-divider"></div>
                            <li class="nav-item dropdown no-arrow" role="presentation">
                                <div class="nav-item dropdown no-arrow"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#"><span class="d-none d-lg-inline mr-2 text-gray-600 small">{{g.user['name']}}</span><img class="border rounded-circle img-profile" src="static/img/heart%20heart.png"></a>
                                    <div
                                        class="dropdown-menu shadow dropdown-menu-right animated--grow-in" role="menu"><a class="dropdown-item" role="presentation" href="#"><i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Profile</a><a class="dropdown-item" role="presentation" href="#"><i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Settings</a>
                                        <a
                                            class="dropdown-item" role="presentation" href="#"><i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Activity log</a>
                                            <div class="dropdown-divider"></div><a class="dropdown-item" role="presentation" href="#"><i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Logout</a></div>
                    </div>
                    </li>
                    </ul>
            </div>
            </nav>
            <div class="container-fluid">
                <div>
                    <ul class="nav nav-tabs tabs-animated">
                        <li class="nav-item"><a class="nav-link active" role="tab" data-toggle="tab" href="#tab-1">  <p class="text-primary m-0 font-weight-bold">News and Announcements</p></a></li>
                        <li class="nav-item"><a class="nav-link" role="tab" data-toggle="tab" href="#tab-2">Notications and Alerts</a></li>
                        <li class="nav-item"><a class="nav-link" role="tab" data-toggle="tab" href="#tab-3">Tab 3</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active fade show" role="tabpanel" id="tab-1">
                            <div class="card shadow">
                                <div class="card-header py-3">
                                </div>
                                <div class="card-body">
                                    <div>
                                        <div class="text-center"></div>
                                        
                                        
            
                                        <div class="card border-success shadow mb-4">
                                            <div class="card-header py-3">
                                                <h6 class="text-primary m-0 font-weight-bold">Create an Announcement</h6>
                                            </div>
                                            <div class="card-body">
                                                <p class="m-0"><!-- Header Text Inside--></p>
                                                <form action="/announcements" method="POST">
                                                    <div class="form-row">
                                                        <div class="col" style="margin: 10px;"><label class="text-left d-xl-flex justify-content-xl-start">Header</label><input class="form-control form-control-user2" type="text" placeholder="Announcement Header" name="header" required></div>
                                                    </div>
                                                    <div class="form-row">
                                                        <div class="col" style="margin: 10px;"><label class="text-left d-xl-flex justify-content-xl-start">Body</label><textarea class="border rounded form-control flex-shrink-0 flex-fill" name="textarea" required></textarea></div>
                                                    </div>
                                                    <div class="form-row">
                                                        <div class="col" style="margin: 10px;"><label class="text-left d-xl-flex justify-content-xl-start">Date</label><input class="form-control form-control-user2" type="date" name="date" required></div>
                                                    </div><button class="btn btn-success btn-sm shadow-sm" data-bs-hover-animate="pulse" data-toggle="popover" data-placement="left" data-content="Sucess"
                                                    name="timein" value="timein" type="submit">POST</button>
                                                </form>
                                            </div>
                                        </div>
            
                                <div id="refreshDiv">        
                                        {% if g.announcements == None%}
                                        <div class="card shadow mb-4 card border-left-primary">
                                            <div class="card-header py-3">
                                                <h6 class="text-primary m-0 font-weight-bold"></h6>
                                                <!-- eto yung sa Announcement header -->
                                            </div>
                                            <div class="card-body">
                                                <blockquote class="blockquote">
                                                    <p class="mb-0" style="font-size: 17px;"><br><br></p>
                                                    <footer class="blockquote-footer" style="font-weight: bold;"> <i class="fa fa-calendar"> </i> <br>
                                                        <button class="btn btn-danger btn-sm" data-bs-hover-animate="pulse" data-toggle="popover" style="float: right;"" data-placement="right" data-content="Sucess"
                                                        name="timein" value="timein" type="submit">Delete</button>
                                                    </footer> 
                              
                                                </blockquote>
                                            </div>
                                        </div>
                                        {%else%}
                                        {% for k, v in g.announcements.items() %}
                                        {% for a, b in v.items() %}
                                        <div class="card shadow mb-4 card border-left-primary">
                                            <div class="card-header py-3">
                                                <h6 class="text-primary m-0 font-weight-bold">{{b['header']}}</h6>
                                                <!-- eto yung sa Announcement header -->
                                            </div>
                                            <div class="card-body">
                                                <blockquote class="blockquote">
                                                    <p class="mb-0" style="font-size: 17px;">{{b['textarea']}}<br><br></p>
                                                    <footer class="blockquote-footer" style="font-weight: bold;"> <i class="fa fa-calendar"> </i>{{b['date']}} <br>
                                                        <button class="btn btn-danger btn-sm" data-bs-hover-animate="pulse" data-toggle="popover" style="float: right;"" data-placement="right" data-content="Sucess"
                                                        name="timein" value="timein" type="submit">Delete</button>
                                                    </footer> 
 
                                                </blockquote>
                                            </div>
                                        </div>
                                        {% endfor %}
                                        {% endfor %}
                                        {% endif %}
                                        
                                </div>
            
            
            
            
                                        <div class="text-center"></div>
                                        <div class="text-center"></div>
                                    </div>
            
                                
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" role="tabpanel" id="tab-2">
                            <div class="card shadow">
                                <div class="card-header py-3">
                                </div>
                                <div class="card-body">
                                    <div>
                                        <div class="text-center"></div>
                                        
                                        <div class="card border-success shadow mb-4">
                                            <div class="card-header py-3">
                                                <h6 class="text-primary m-0 font-weight-bold">Create an Alert or Notification</h6>
                                            </div>
                                            <div class="card-body">
                                                <p class="m-0"><!-- Header Text Inside--></p>
                                                <form action="/alerts" method="POST">
                                                    <div class="form-row">
                                                        <div class="col" style="margin: 10px;"><label class="text-left d-xl-flex justify-content-xl-start">Alert Type</label>
                                                                <select class="form-control form-control-user3" id="CivilStatus" name="CivilStatus">
                                                                    <option value="undefined">Alert Type</option>
                                                                    <option value="Salary" selected="">Salary</option>
                                                                    <option value="Leave">Leave Status</option>
                                                                    <option value="option">Option</option>
                                                                </select>
                                                        </div>
                                                    </div>
                                                    <div class="form-row">
                                                        <div class="col" style="margin: 10px;"><label class="text-left d-xl-flex justify-content-xl-start">Message</label><textarea class="border rounded form-control flex-shrink-0 flex-fill" name="textarea"></textarea></div>
                                                    </div>
                                                    <div class="form-row">
                                                        <div class="col" style="margin: 10px;"><label class="text-left d-xl-flex justify-content-xl-start">Date</label><input class="form-control form-control-user2" type="date" name="date"></div>
                                                    </div>
                                                    <button class="btn btn-success btn-sm shadow-sm" data-bs-hover-animate="pulse" data-toggle="popover" data-placement="left" data-content="Sucess"
                                                     type="submit">POST</button>
                                                </form>
                                            </div>
                                        </div>
            
            
            
                                       
                                        
            
            
            
            
            
                                        <div class="text-center"></div>
                                        <div class="text-center"></div>
                                    </div>
            
                                
                                </div>
                            </div>
                                
                        </div>
                        <div class="tab-pane fade" role="tabpanel" id="tab-3">
                            <p>Content for tab 3.</p>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        <footer class="bg-white sticky-footer">
            <div class="container my-auto">
                <div class="text-center my-auto copyright"><span>Cloudian © 2020</span></div>
            </div>
        </footer>
    </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a></div>

    <!-- Flask routing use static folder only -->
    <script>
        $('a[data-toggle="tab"]').on('hide.bs.tab', function (e) {
		var $old_tab = $($(e.target).attr("href"));
		var $new_tab = $($(e.relatedTarget).attr("href"));

		if($new_tab.index() < $old_tab.index()){
			$old_tab.css('position', 'relative').css("right", "0").show();
			$old_tab.animate({"right":"-100%"}, 300, function () {
				$old_tab.css("right", 0).removeAttr("style");
			});
		}
		else {
			$old_tab.css('position', 'relative').css("left", "0").show();
			$old_tab.animate({"left":"-100%"}, 300, function () {
				$old_tab.css("left", 0).removeAttr("style");
			});
		}
	});

	$('a[data-toggle="tab"]').on('show.bs.tab', function (e) {
		var $new_tab = $($(e.target).attr("href"));
		var $old_tab = $($(e.relatedTarget).attr("href"));

		if($new_tab.index() > $old_tab.index()){
			$new_tab.css('position', 'relative').css("right", "-2500px");
			$new_tab.animate({"right":"0"}, 500);
		}
		else {
			$new_tab.css('position', 'relative').css("left", "-2500px");
			$new_tab.animate({"left":"0"}, 500);
		}
	});

	$('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
		// your code on active tab shown
	});
    </script>
    <script src="{{ url_for('static',filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static',filename='bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/chart.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/bs-init.js') }}"></script>
    <script src="{{ url_for('static',filename='js/Contact-Form-v2-Modal--Full-with-Google-Map.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
    <script src="{{ url_for('static',filename='js/theme.js') }}"></script>


</body>

</html>