<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Payroll Settings - Cloudian</title>
    <!-- Flask routing use static folder only -->
    <link href="{{ url_for('static',filename='/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link href="{{ url_for('static',filename='fonts/fontawesome-all.min.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static',filename='css/custom.css') }}" rel="stylesheet" />
</head>

<body id="page-top">
    <div id="wrapper">
        <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-custom-primary p-0">
            <div class="container-fluid d-flex flex-column p-0">
                <a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
                    <div class="sidebar-brand-icon rotate-n-15"></div>
                    <div class="sidebar-brand-text mx-3"><span>Cloudian Systems</span></div>
                </a>
                <hr class="sidebar-divider my-0">
                <ul class="nav navbar-nav text-light" id="accordionSidebar">
                    <li class="nav-item" role="presentation"><a class="nav-link" href="index"><i class="fas fa-tachometer-alt"></i><span>Dashboard</span></a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="announcements"><i class="fas fa-bell"></i><span>Announcements</span></a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="profile"><i class="fas fa-user"></i><span>Payroll Dashboard</span></a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="employee"><i class="fas fa-user-plus"></i><span>Employee</span></a><a class="nav-link active" href="payroll-settings"><i class="far fa-chart-bar"></i><span>Payroll Settings</span></a>
                     <a class="nav-link" href="panels"><i class="fas fa-list-alt"></i><span>Employee &amp; Details</span></a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="login"><i class="fas fa-sign-out-alt"></i><span>Log Out</span></a></li>
                    <li class="nav-item" role="presentation"></li>
                </ul>
                <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button></div>
            </div>
        </nav>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top">
                    <div class="container-fluid"><button class="btn btn-link d-md-none rounded-circle mr-3" id="sidebarToggleTop" type="button"><i class="fas fa-bars"></i></button>
                        <form class="form-inline d-none d-sm-inline-block mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                            <div class="input-group"><input class="bg-light form-control border-0 small" type="text" placeholder="Search for ...">
                                <div class="input-group-append"><button class="btn btn-primary py-0" type="button"><i class="fas fa-search"></i></button></div>
                            </div>
                        </form>
                        <ul class="nav navbar-nav flex-nowrap ml-auto">
                            <li class="nav-item dropdown d-sm-none no-arrow"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#"><i class="fas fa-search"></i></a>
                                <div class="dropdown-menu dropdown-menu-right p-3 animated--grow-in" role="menu" aria-labelledby="searchDropdown">
                                    <form class="form-inline mr-auto navbar-search w-100">
                                        <div class="input-group"><input class="bg-light form-control border-0 small" type="text" placeholder="Search for ...">
                                            <div class="input-group-append"><button class="btn btn-primary py-0" type="button"><i class="fas fa-search"></i></button></div>
                                        </div>
                                    </form>
                                </div>
                            </li>
                            <li class="nav-item dropdown no-arrow mx-1" role="presentation">
                                <div class="nav-item dropdown no-arrow"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#"><span class="badge badge-danger badge-counter">3+</span><i class="fas fa-bell fa-fw"></i></a>
                                    <div class="dropdown-menu dropdown-menu-right dropdown-list dropdown-menu-right animated--grow-in"
                                        role="menu">
                                        <h6 class="dropdown-header">alerts center</h6>
                                        <a class="d-flex align-items-center dropdown-item" href="#">
                                            <div class="mr-3">
                                                <div class="bg-primary icon-circle"><i class="fas fa-file-alt text-white"></i></div>
                                            </div>
                                            <div><span class="small text-gray-500">December 12, 2019</span>
                                                <p>A new monthly report is ready to download!</p>
                                            </div>
                                        </a>
                                        <a class="d-flex align-items-center dropdown-item" href="#">
                                            <div class="mr-3">
                                                <div class="bg-success icon-circle"><i class="fas fa-donate text-white"></i></div>
                                            </div>
                                            <div><span class="small text-gray-500">December 7, 2019</span>
                                                <p>$290.29 has been deposited into your account!</p>
                                            </div>
                                        </a>
                                        <a class="d-flex align-items-center dropdown-item" href="#">
                                            <div class="mr-3">
                                                <div class="bg-warning icon-circle"><i class="fas fa-exclamation-triangle text-white"></i></div>
                                            </div>
                                            <div><span class="small text-gray-500">December 2, 2019</span>
                                                <p>Spending Alert: We've noticed unusually high spending for your account.</p>
                                            </div>
                                        </a><a class="text-center dropdown-item small text-gray-500" href="#">Show All Alerts</a></div>
                                </div>
                            </li>
                            <li class="nav-item dropdown no-arrow mx-1" role="presentation">
                                <div class="nav-item dropdown no-arrow"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#"><i class="fas fa-envelope fa-fw"></i><span class="badge badge-danger badge-counter">7</span></a>
                                    <div class="dropdown-menu dropdown-menu-right dropdown-list dropdown-menu-right animated--grow-in"
                                        role="menu">
                                        <h6 class="dropdown-header">alerts center</h6>
                                        <a class="d-flex align-items-center dropdown-item" href="#">
                                            <div class="dropdown-list-image mr-3"><img class="rounded-circle">
                                                <div class="bg-success status-indicator"></div>
                                            </div>
                                            <div class="font-weight-bold">
                                                <div class="text-truncate"><span>Message</span></div>
                                                <p class="small text-gray-500 mb-0">FirstName LastName - Time</p>
                                            </div>
                                        </a>
                                         <a class="text-center dropdown-item small text-gray-500" href="#">Show All Alerts</a></div>
                                </div>
                                <div class="shadow dropdown-list dropdown-menu dropdown-menu-right" aria-labelledby="alertsDropdown"></div>
                            </li>
                            <div class="d-none d-sm-block topbar-divider"></div>
                            <li class="nav-item dropdown no-arrow" role="presentation">
                                <div class="nav-item dropdown no-arrow"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#"><span class="d-none d-lg-inline mr-2 text-gray-600 small">{{g.user['name']}}</span><img class="border rounded-circle img-profile" src="static/img/heart%20heart.png"></a>
                                    <div
                                        class="dropdown-menu shadow dropdown-menu-right animated--grow-in" role="menu"><a class="dropdown-item" role="presentation" href="#"><i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Profile</a><a class="dropdown-item" role="presentation" href="#"><i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Settings</a>
                                        <a
                                            class="dropdown-item" role="presentation" href="#"><i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Activity log</a>
                                            <div class="dropdown-divider"></div><a class="dropdown-item" role="presentation" href="#"><i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Logout</a></div>
                    </div>
                    </li>
                    </ul>
            </div>
            </nav>
            <div class="container-fluid">
                <h3 class="text-dark mb-1">Payroll Settings</h3>
            </div>
            <div class="col">
                <!-- Start: Basic Card -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="text-primary m-0 font-weight-bold">Configure</h6>
                    </div>
                    <div class="card-body">
                        <p class="m-0"></p>
                        <form class="user">
                            <div class="form-row">
                                <div class="col" style="margin: 10px;"><label class="text-left d-xl-flex justify-content-xl-start">Number of Cut-offs</label><input class="form-control form-control-user2" type="number" id="CutOffs" value="{{value['CutOffs']}}" name="CutOffs"></div>
                            </div>
                            <div class="form-row">
                                <div class="col" style="margin: 10px;"><label class="text-left d-xl-flex justify-content-xl-start">Paternaty Leave</label><input class="form-control form-control-user2" type="number" id="PaternatyLeave" value="{{value['PaternatyLeave']}}" name="PaternatyLeave"></div>
                            </div>
                            <div class="form-row">
                                <div class="col" style="margin: 10px;"><label class="text-left d-xl-flex justify-content-xl-start">Materniy Leave</label><input class="form-control form-control-user2" type="number" name="&quot;MaternityLeave" value="{{value['MaternityLeave']}}"></div>
                            </div>
                            <div class="form-row">
                                <div class="col" style="margin: 10px;"><label class="text-left d-xl-flex justify-content-xl-start">Solo Parent Leave</label><input class="form-control form-control-user2" type="number" id="SoloParentLeave" value="{{value['SoloParentLeave']}}" name="SoloParentLeave"></div>
                            </div>
                            <div class="form-row">
                                <div class="col" style="margin: 10px;"><label class="text-left d-xl-flex justify-content-xl-start">VAWC</label><input class="form-control form-control-user2" type="number" id="VAWC" name="VAWC" value="{{value['VAWC']}}"></div>
                            </div>
                            <div class="form-row">
                                <div class="col" style="margin: 10px;"><label class="text-left d-xl-flex justify-content-xl-start">Leave for Women</label><input class="form-control form-control-user2" type="number" id="LeaveforWomen" name="LeaveforWomen" value="{{value['LeaveforWomen']}}"></div>
                            </div>
                            <div class="form-row">
                                <div class="col" style="margin: 10px;"><label class="text-left d-xl-flex justify-content-xl-start">Factor Days</label><input class="form-control form-control-user2" type="number" id="FactorDays" value="{{value['FactorDays']}}" name="FactorDays"></div>
                            </div>
                            <div class="form-row">
                                <div class="col" style="margin: 10px;"><label class="text-left d-xl-flex justify-content-xl-start">Leave Credit</label><input class="form-control form-control-user2" type="number" id="LeaveCredit" value="{{value['LeaveCredit']}}" name="LeaveCredit"></div>
                            </div>
                            <div class="form-row">
                                <div class="col" style="margin: 10px;"><label class="text-left d-xl-flex justify-content-xl-start">13th Month Pay</label><input class="form-control form-control-user2" type="number" id="13thMonthPay" value="{{value['13thMonthPay']}}" name="13thMonthPay"></div>
                            </div>
                            <div class="form-row">
                                <div class="col" style="margin: 10px;"><label class="text-left d-xl-flex justify-content-xl-start">Absenses</label><input class="form-control form-control-user2" type="number" id="Absenses" name="Absenses" value="{{value['Absenses']}}"></div>
                            </div>
                            <div class="form-row">
                                <div class="col" style="margin: 10px;"><label class="text-left d-xl-flex justify-content-xl-start">Tardiness</label><input class="form-control form-control-user2" type="number" id="Tardiness" name="Tardiness" value="{{value['Tardiness']}}"></div>
                            </div>
                            <div class="form-row">
                                <div class="col" style="margin: 10px;"><label class="text-left d-xl-flex justify-content-xl-start">Premium Pay</label><input class="form-control form-control-user2" type="number" id="PremiumPay" name="PremiumPay" value="{{value['PremiumPay']}}"></div>
                            </div>
                            <div class="form-row">
                                <div class="col" style="margin: 10px;"><label class="text-left d-xl-flex justify-content-xl-start">Cut Off Days</label><input class="form-control form-control-user2" type="text" id="CutOffDays" placeholder="day1" value="{{value['CutOffDays']}}" name="CutOffDays"></div>
                            </div>
                            <div class="form-row">
                                <div class="col" style="margin: 10px;"><label class="text-left d-xl-flex justify-content-xl-start">Mode of Payment</label><input class="form-control form-control-user2" type="text" id="ModeofPayment" placeholder="day2" name="ModeofPayment" value="{{value['ModeofPayment']}}"></div>
                            </div>
                            <div class="form-row">
                                <div class="col" style="margin: 10px;"><label class="text-left d-xl-flex justify-content-xl-start">Work Hours</label><input class="form-control form-control-user2" type="text" id="WorkHours" placeholder="start" name="WorkHours" value="{{value['WorkHours']}}">
                                    <input
                                        class="form-control form-control-user2" type="text" id="WorkHours" placeholder="end" name="WorkHours" value="{{value['WorkHours']}}"></div>
                            </div>
                            <div class="form-row">
                                <div class="col" style="margin: 10px;"><label class="text-left d-xl-flex justify-content-xl-start">Work Days</label><input class="form-control form-control-user2" type="text" id="WorkDays" placeholder="day1" name="WorkDays"><input class="form-control form-control-user2"
                                        type="text" id="WorkDays" placeholder="day2" name="WorkDays" value="{{value['WorkDays']}}"></div>
                            </div><button class="btn btn-primary text-sm-right text-md-right text-lg-right text-xl-right text-white d-inline-block d-xl-flex mr-sm-auto mr-md-auto mr-lg-auto justify-content-xl-end mr-xl-auto btn-user" type="submit">Submit</button>
                            <hr>
                        </form>
                    </div>
                </div>
                <!-- End: Basic Card -->
            </div>
        </div>
        <footer class="bg-white sticky-footer">
            <div class="container my-auto">
                <div class="text-center my-auto copyright"><span>Cloudian © 2020</span></div>
            </div>
        </footer>
    </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a></div>

    <!-- Flask routing use static folder only -->
    <script src="{{ url_for('static',filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static',filename='bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/chart.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/bs-init.js') }}"></script>
    <script src="{{ url_for('static',filename='js/Contact-Form-v2-Modal--Full-with-Google-Map.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
    <script src="{{ url_for('static',filename='js/theme.js') }}"></script>

</body>

</html>